### Problem 1
In this question, we will use the csv file **Temp.csv**. 
- Read it into a data frame, call it `Temp`. (Import the packages you think you need).

In [1]:
#### Your code here
import pandas as pd
Temp = pd.read_csv('Temp.csv')
Temp

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68

- We learned that the temperature at New Haven, Connecticut is currently 58 degree fahrenheit. Add this information into the DataFrame.

In [2]:
#### Your code here
new_row = pd.DataFrame([['New Haven', 'Connecticut', 58]], columns=Temp.columns)
Temp = pd.concat([Temp, new_row], axis=0)
Temp

         City        State  Temperature
0         NYC     New York           67
1      Albany     New York           49
2     Buffalo     New York           38
3    Hartford  Connecticut           63
4  Bridgeport  Connecticut           58
5      Treton   New Jersey           72
6      Newark   New Jersey           68
0   New Haven  Connecticut           58

- Replace the names of the states by their abbreviations. That is 
    - Connecticut --> CT
    - New Jersey  --> NJ
    - New York    --> NY

In [3]:
#### Your code here
Temp.replace(["New York","Connecticut","New Jersey"],["NY","CT","NJ"], inplace=True)

- Select the rows in New York.

In [4]:
#### Your code here
Temp.loc[Temp.State=='NY']

      City State  Temperature
0      NYC    NY           67
1   Albany    NY           49
2  Buffalo    NY           38

- What is the average of the temperature of cities in NY?

In [5]:
#### Your code here
Temp.loc[Temp.State=="NY", "Temperature"].mean()

51.333333333333336

- Find the mean and the standard deviation of the temperature of each state.

In [6]:
#### Your code here
Temp.groupby('State').agg(['mean', 'std'])

      Temperature
             mean        std
State
CT      59.666667   2.886751
NJ      70.000000   2.828427
NY      51.333333  14.640128

- We know the capital of each state: 
    - Connecticut --> Hartford
    - New Jersey  --> Treton
    - New York    --> Albany
    
    Create a data frame, `Capital`, with two columns: State and Capital, which should look like:
    
|| State| Capital|
| :-: |:---: | :---:|
| 0| CT  | Hartford|
| 1| NJ | Treton|
| 2| NY| Albany|

In [7]:
#### Your code here
Capital = pd.DataFrame({'State':['CT', 'NJ', 'NY'],
                        'Capital':['Hartford','Treton','Albany']})
Capital

    Capital State
0  Hartford    CT
1    Treton    NJ
2    Albany    NY

- Mutate a new boolean column, `Capital`, to `Temp`, which is `True` if the city in the row is the capital of the state, else `False`.

In [8]:
#### Your code here
Temp = pd.merge(Temp, Capital, on='State')
Temp['Capital'] =(Temp['Capital']==Temp['City'])
Temp

         City State  Temperature Capital
0         NYC    NY           67   False
1      Albany    NY           49    True
2     Buffalo    NY           38   False
3    Hartford    CT           63    True
4  Bridgeport    CT           58   False
5   New Haven    CT           58   False
6      Treton    NJ           72    True
7      Newark    NJ           68   False

### Problem 2

- a. Load the Gross Domestic Product data for the 190 ranked countries in the file `GDP.csv`. Load `Country.csv` into a DataFrame. 
- b. Match the data based on the country shortcode. How many of the IDs match? 
- c. Sort the data frame in descending order by GDP rank. What is the 13th country in the resulting data frame? (Note: GDP formats as 123,456,789.)
- d. What is the average GDP for the "High income: OECD" and "High income: nonOECD" group?   
- e. What is the average GDP for different income groups and regions?

In [9]:
#### Your code here

# (a)
import numpy as np
import pandas as pd
gdp = pd.read_csv('GDP.csv', skiprows=range(5), header= None, usecols=[0,1,3,4], nrows=190)
gdp.columns = ['CountryCode', 'Rank', 'CountryName', 'GDP']
country = pd.read_csv('Country.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf4 in position 1: invalid continuation byte

In [ ]:
gdp.head()

In [ ]:
country.head()

In [ ]:
# (b)
gdp_merge = pd.merge(gdp, country, on='CountryCode')
print gdp_merge.shape[0]

In [ ]:
# (c)
gdp_merge['GDP']  = map(lambda x: float(x.replace(',','').strip()), gdp_merge["GDP"])
print gdp_merge.sort_values('GDP', ascending=False).iloc[12,2]

In [ ]:
# (d)
gdp_merge.groupby('Income Group')[['GDP']].agg(np.mean).loc[['High income: OECD', 'High income: nonOECD']]

In [ ]:
# (e)
gdp_merge.groupby(['Income Group', 'Region'])[['GDP']].agg(np.mean).loc[['High income: OECD', 'High income: nonOECD']]